<% include partials/header.ejs %>
<div class="container">
<body>
<div class="content">
<form method="POST" action="/forgot">
    <input type="text" name=email placeholder="Enter username">
    <button>Reset Password</button>
    </div>
</form>
</body>
<% include partials/footer.ejs %>