

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Personal Profile Form Widget Flat Responsive Widget Template :: w3layouts</title>
<!-- for-mobile-apps -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<!-- //for-mobile-apps -->
<link href='//fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../profile/css/j-forms.css">
<link href="../profile/css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<style>
 html,body,section
 {
 	margin:0;
 	padding:0;
 	height:100%;
 	background-color:white;
 }
 .content
 {
    display:flex;
 }
 div {
 	display:flex;
    flex-direction: column;
    justify-content: center;
}
 .box1
 {
 	background: black;
    background-size: cover;
    background-position: center;
    flex: 1;
    padding: 1rem;
    margin:2% 2% 2% 1%; 
    opacity:0.2;
    filter:alpha(opacity=50);
 }
 .box2
 {
 	background:black;
    background-size: cover;
    background-position: center;
    flex: 1;
    padding: 1rem;
    margin:2% 2% 2% 1%; 
    opacity:0.2;
    filter:alpha(opacity=60);
    
 }

</style>
<body>
<section class="content">
	<div class="box1">
			
	</div>
	<div class="box2">
			
	</div>
</section>
</body>
</html>
